@charset "utf-8";

/*Overall*/
html{
    background-color: gray;
    color: black;
    text-align: left;
    font-family: Arial;
}

/*Links*/
a{
    color: white;
    text-decoration: none;
}

/*Body*/
body{
    margin-top: 4%;
    padding-right: 450px;
    padding-top: 1%;
    text-align: center;
}

/*Lists*/
ul {
    padding: 0;
    display: inline-block;
    text-align: left;
}

/*Header*/
header ul {
    list-style-type: none;
    background-color: hsl(212, 100%, 19%);
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 92.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.5px solid black;
    box-sizing: border-box;
    height: 7.5%;
    font-size: x-large;

    li {
        display: inline;
        height: 100%;
        font-weight: 700;
    }
  
    li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        height: 100%;
    }
  
    li a:hover {
        border: none;
        background-color: #575757;
    }
}  

/*Aside*/
aside{
    position: fixed;
    right: 0;
    top: 75px;
}

aside img{
    border: solid;
    border-color: black;
}