@charset "utf-8";

html{
    background-color: gray;
    color: black;
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
}

body{
    margin-top: 75px;
    padding-top: 1%;
}

header{
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 72px;
    border: solid;
    border-color: black;
    background-color: hsl(17,85% ,56%);
}

header a{
    text-decoration: underline;
}

ul {
    padding: 0;
    display: inline-block;
    text-align: left;
}

aside{
    position: fixed;
    right: 0;
    top: 75px;
}

aside img{
    border: solid;
    border-color: black;
}