@charset "utf-8";
/*Main Styles*/

html {
    color: white;
    text-align: center;
    font-family: Arial;
    background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/crm/oklahoma/17.04.21_R1G3_Zach-Beeker_Proof_Edit_8BA2F321-841D-4FC3-BCD5D511B5F3C4F0_640d0788-07c0-42b8-b5ec02f4218b08f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgba(32, 32, 32, 0.726);
    border: 2px solid black;
}

body {
    margin-top: 4%;
    padding-top: 1%;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.727);
    height: 100%;
}

ul.links li {
    display: inline;
    padding-right: 5px;
    padding-left: 8px;
}

/* Header */
ul.header {
    list-style-type: none;
    background-color: hsl(212, 100%, 19%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 92.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3.5px solid black;
    box-sizing: border-box;
    font-size: x-large;
    flex-wrap: nowrap;
}

ul.header li {
    display: inline;
    height: 100%;
    font-weight: 700;
    flex-shrink: 1%;
}

ul.header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    height: 100%;
}

ul.header li a:hover {
    border: none;
    background-color: #575757;
}

/* OKC Links */
nav.okc-links {
    overflow: hidden;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: nowrap;
    gap: 10px;
}

nav.okc-links a {
    float: center;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.dropdown {
    float: center;
    overflow: hidden;
}

button.dropbtn {
    font-size: x-large;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
}

nav.okc-links a:hover,
div.dropdown:hover button.dropbtn {
    background-color: hsl(212, 100%, 19%);
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 308px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 69px;
    text-align: center;
}

div.dropdown-content a:hover {
    background-color: #ddd;
}

div.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
}

span.arrow {
    font-size: medium;
}

/* ul lists */
ul {
    padding: 0;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

/* Footer */
footer {
    bottom: 1%;
    text-align: center;
    padding-top: 2%;
}