@charset "utf-8";
/* Shared Stylesheet for All Pages */

/* Base styling */
html {
    color: white;
    text-align: center;
    font-family: Arial;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgba(32, 32, 32, 0.726);
    border: 2px solid black;
}

body {
    margin-top: 4%;
    padding-top: 1%;
    text-align: center;
}

/*Header*/
header ul {
    list-style-type: none;
    background-color: hsl(212, 100%, 19%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 92.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3.5px solid black;
    box-sizing: border-box;
    font-size: x-large;
    flex-wrap: nowrap;

    li {
        display: inline;
        height: 100%;
        font-weight: 700;
        flex-shrink: 1%;
    }

    li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        height: 100%;
    }

    li a:hover {
        border: none;
        background-color: #575757;
    }
}

/* Footer */
footer {
    bottom: 1%;
    text-align: center;
    padding-top: 2%;
}