@charset "utf-8";

html{
    background-color: gray;
    color: black;
    text-align: center;
}

a{
    color: white;
}

h1{
    text-align: left;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

aside{
    text-align:left;
}
