@charset "utf-8";

html{
    background-color: gray;
    color: white ;
    text-align: center;
    margin: 270px;
}

a{
    color: white;
}

h1{
    text-align: left;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

aside{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: blue;
    color: white;
    padding: 20px;
}

aside.left{
    left: 0;
}

aside.right{
    right: 0;
}