@charset "utf-8";

/*Overall*/
html {
    background-image: url(okc\ arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Arial;
}

/*Overall Links*/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgba(32, 32, 32, 0.726);
    border: 2px solid black;
    border-radius: 5%;
}

/*Body Layout*/
body {
    margin-top: 4%;
    padding-top: 1%;
    background-color: rgba(50, 50, 50, 0.727);
    height: 100%;

    ul.links li {
        display: inline;
        padding-right: 5px;
        padding-left: 8px;
    }
}

/*OKC-Links*/
div.OKC-links {
    overflow: hidden;
    font-size: large;
    display: flex;
    justify-content: center;
}

div.OKC-links a {
    float: center;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.dropdown {
    float: center;
    overflow: hidden;
}

button.dropbtn {
    font-size: x-large;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
}

div.OKC-links a:hover,
div.dropdown:hover button.dropbtn {
    background-color: hsl(212, 100%, 19%);
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 285px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

div.dropdown-content a:hover {
    background-color: #ddd;
}

div.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
}

/*Recent News*/
div.Recent-News {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

div.Recent-News img {
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.727);
}

div.Recent-News p {
    max-width: 500px;
    font-size: large;
    background-color: hsl(212, 100%, 19%);
    border: 3px solid black;
}

/*Lists*/
ul {
    padding: 0;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

/*Header*/
header ul {
    list-style-type: none;
    background-color: hsl(212, 100%, 19%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 92.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.5px solid black;
    box-sizing: border-box;
    font-size: x-large;

    li {
        display: inline;
        height: 100%;
        font-weight: 700;
    }

    li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        height: 100%;
    }

    li a:hover {
        border: none;
        background-color: #575757;
    }
}

/*Table*/
table {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

table th,
table td {
    width: auto;
    padding: 15px;
    background-color: hsl(212, 100%, 19%);
    border: 2px solid black;
    min-width: 250px;
}

table th {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

table caption {
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
    padding-top: 1%;
    padding-bottom: 1%;
}

/*About Project Page*/
div.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Helvetica;
    margin: auto auto;
    min-height: 80vh;
}

div.project p {
    padding: 2% 2%;
    background-color: hsl(212, 100%, 19%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.612);
}

/*Roster Grid*/
div.roster-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    text-shadow: 1px 1px black;
}

div.roster-container img {
    width: 200px;
    height: 200px;
}

div.roster-container div {
    min-width: 150px;
    height: auto;
    flex: 1 1 calc(33.33% - 10px);
    background-color: hsl(212, 100%, 19%);
}

.shai {
    grid-column: 1;
    grid-row: 1;
}

/*Footer*/
footer {
    bottom: 1%;
    padding-top: 2%;
    text-align: center;
}